.heading {
    .heading-alignment-center {
        * {
            text-align: center;
        }
    }

    .heading-alignment-left {
        * {
            text-align: left;
        }
    }

    .heading-alignment-right {
        * {
            text-align: right;
        }
    }
}
