.heading {
    text-alignment-center {
        * {
            text-align: center;
        }
    }

    .text-alignment-left {
        * {
            text-align: left;
        }
    }

    .text-alignment-right {
        * {
            text-align: right;
        }
    }
}
