.heading {
    &.heading-center {
        * {
            text-align: center;
        }
    }

    &.heading-left {
        * {
            text-align: left;
        }
    }

    &.heading-right {
        * {
            text-align: right;
        }
    }
}
