/* Alternate background color for columns: #f4f4f4 and white */
.columns {
    padding: 50px 0;
}
.columns > div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 50px;
    max-width: 1200px;
}

.columns img {
    width: 100%;
}

.columns > div > div {
    order: 1;
}

.columns > div > .columns-img-col {
    order: 0;
}

.columns > div > .columns-img-col img {
    display: block;
}

@media (width >= 900px) {
    .columns > div {
        align-items: center;
        flex-direction: unset;
        gap: 50px;
    }

    .columns > div > div {
        flex: 1;
        order: unset;
    }
}
.columns.bg-highlight {
    background-color: var(--light-color);
}

.columns.bg-white {
    background-color: white;
}

.columns{
    &.card-icon-center{
        padding: 20px;
        border-radius: 10px;
        text-align: center;

        img{
            width: 40px;
            height:40px;
        }
        h3{
            font-size: 1.3rem;
            margin: 10px 0;
        }

    }
    &.card-icon-left{
        padding: 20px;
        border-radius: 10px;
        text-align: left;

        img{
            width: 40px;
            height:40px;
        }
        h3{
            font-size: 1.3rem;
            margin: 10px 0;
        }

    }
    
}
