/* Mobile-first base styles */
.hero-banner {
    width: 100%;
    height: 100%;
    font-family: APTypeProText, -apple-system, system-ui, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

.hero-banner-block {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hero-overlay-block {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    max-width: 400px;
    padding: 15px;
    text-align: left;
    h1,
    h2,
    h3,
    h4,
    p,
    img {
        padding-left: 20px;
        margin: unset;
    }

    h1,
    h2,
    h3,
    h4 {
        border-left: 3px solid #dc1928;
        border-radius: 3px;
        font-size: var(--heading-font-size-xxl);
        line-height: 36px;
        letter-spacing: 1.3px;
    }
    p {
        line-height: 26px;
        letter-spacing: 1.2px;
        color: #4d4d54;
    }
    img {
        width: 130px;
        height: auto;
    }
}

.hero-banner--picture {
    width: 100%;
    height: 320px;
    display: block;
    img {
        width: 100%;
        max-width: 100vw;
        height: 100%;
        object-fit: cover;
        object-position: center right;
    }
}

@media (min-width: 1024px) {
    .hero-banner {
        width: 100%;
        .hero-banner--elements {
            min-height: 600px;
            max-width: 1170px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            margin: 0 auto;
        }
    }

    .hero-overlay-block {
        display: flex;
        position: relative;
        border-left: 6px solid #dc1928;
        border-radius: 7px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        padding: 70px 15px;
        background-color: white;
        height: 100%;
        box-sizing: content-box;

        h1,
        h2,
        h3,
        h4 {
            border-left: 1px solid transparent;
            font-size: var(--heading-font-size-xxl);
            line-height: 36px;
            letter-spacing: 1.3px;
        }
    }

    .hero-banner--picture {
        height: 100%;
        img {
            max-width: 1500px;
            margin: 0 auto;
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 600px;
            object-fit: cover;
            object-position: center;
        }
    }
}
